body {
    font-family: 'Arial', sans-serif;
    background-color: #555;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.header {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.header h1 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
}

.calculator {
    background-color: #888;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
}

.form-group input[type="number"],
.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #00cc66;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #008040;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
}

.footer {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.footer p {
    margin: 0;
    color: #fff;
}